Repository GreptimeTeam/greptimedb-operator, changes with the labels that .github/labeler.yaml gives for each.
All labels: docker, documentation, e2e, ci, tool, manifest

set e2e timeout 20m
  Makefile
Labels: none

chore: improve default logging configuration
  apis/v1alpha1/defaulting.go
Labels: none

set e2e timeout 20m
  Makefile
Labels: none

chore: code review
  controllers/greptimedbcluster/deployers/datanode.go
Labels: none

refactor: datanode and datanodeGroups cannot be set at the same time
  apis/v1alpha1/validate.go
Labels: none

add license header
  .github/workflows/pr-labeling.yaml
Labels: ci

ci: remove `.coderabbit.yaml` since using GitHub copilot
  .coderabbit.yaml
Labels: none

feat: support datanode groups (#270)
  Makefile
  apis/v1alpha1/defaulting.go
  apis/v1alpha1/greptimedbcluster_types.go
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test03/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test03/input.yaml
  apis/v1alpha1/validate.go
  apis/v1alpha1/zz_generated.deepcopy.go
  cmd/initializer/internal/config_generator.go
  cmd/initializer/internal/config_generator_test.go
  cmd/initializer/main.go
  config/crd/resources/greptime.io_greptimedbclusters.yaml
  controllers/common/common.go
  controllers/greptimedbcluster/deployers/datanode.go
  controllers/greptimedbstandalone/deployer.go
  docs/api-references/docs.md
  examples/README.md
  examples/cluster/datanode-groups/cluster.yaml
  manifests/bundle.yaml
  manifests/crds.yaml
  tests/e2e/greptimedbcluster/test_basic_cluster.go
  tests/e2e/greptimedbcluster/test_cluster_dedicated_wal.go
  tests/e2e/greptimedbcluster/test_cluster_enable_flow.go
  tests/e2e/greptimedbcluster/test_cluster_enable_monitoring.go
  tests/e2e/greptimedbcluster/test_cluster_enable_remote_wal.go
  tests/e2e/greptimedbcluster/test_cluster_frontend_groups.go
  tests/e2e/greptimedbcluster/test_cluster_frontend_groups_ingress.go
  tests/e2e/greptimedbcluster/test_cluster_frontend_ingress.go
  tests/e2e/greptimedbcluster/test_cluster_mysql_meta_backend.go
  tests/e2e/greptimedbcluster/test_cluster_read_write_groups.go
  tests/e2e/greptimedbcluster_test.go
  tests/e2e/greptimedbstandalone/test_basic_standalone.go
  tests/e2e/helper/helper.go
  tests/e2e/testdata/resources/cluster/read-write-groups/cluster.yaml
Labels: documentation, e2e, manifest

chore: improve default logging configuration (#297)
  apis/v1alpha1/defaulting.go
Labels: none

.github/labeler.yaml:

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**

e2e:
  - changed-files:
      - any-glob-to-any-file: tests/**

ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

tool:
  - changed-files:
      - any-glob-to-any-file: tools/**

manifest:
  - changed-files:
      - any-glob-to-any-file: [manifests/**, config/**]
