Repository GreptimeTeam/greptimedb-operator, pull requests merged in 2025-08, with the labels that each got.

#313 feat: (Self monitoring trace part 2) add default tracing configuration when monitoring is enabled
  apis/v1alpha1/defaulting.go
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/setdefaults/test03/expect.yaml
  controllers/greptimedbcluster/deployers/common.go
Labels: size/S

#319 chore: add some dev manifests
  hack/kafka/kafka-dev.yaml
  hack/minio/minio-dev.yaml
  hack/minio/setup-minio.sh
Labels: size/L

#321 refactor: add some helper functions to make `defaulting.go` clean
  apis/v1alpha1/common.go
  apis/v1alpha1/defaulting.go
  apis/v1alpha1/defaulting_test.go
  apis/v1alpha1/greptimedbcluster_types.go
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test01/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test02/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/setdefaults/test00/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/setdefaults/test01/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/setdefaults/test02/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/setdefaults/test03/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/setdefaults/test04/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbstandalone/test00/expect.yaml
  controllers/greptimedbcluster/controller.go
  docs/api-references/docs.md
Labels: documentation, size/L

#322 refactor: add `configMergeStrategy` field
  apis/v1alpha1/common.go
  apis/v1alpha1/greptimedbcluster_types.go
  apis/v1alpha1/greptimedbstandalone_types.go
  cmd/initializer/internal/config_generator.go
  config/crd/resources/greptime.io_greptimedbclusters.yaml
  config/crd/resources/greptime.io_greptimedbstandalones.yaml
  docs/api-references/docs.md
  manifests/bundle.yaml
  manifests/crds.yaml
  pkg/dbconfig/dbconfig.go
  pkg/dbconfig/dbconfig_test.go
Labels: documentation, manifest, size/L

#324 feat(crds): add frontend internal rpc port
  apis/v1alpha1/greptimedbcluster_types.go
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test00/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test00/input.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test03/expect.yaml
  apis/v1alpha1/testdata/defaulting/greptimedbcluster/merge/test03/input.yaml
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/resources/greptime.io_greptimedbclusters.yaml
  controllers/greptimedbcluster/deployers/frontend.go
  docs/api-references/docs.md
  manifests/bundle.yaml
  manifests/crds.yaml
Labels: documentation, manifest, size/M
