Repository GreptimeTeam/greptimedb-operator, pull requests merged in 2025-06, with the labels that each got.

#305 feat(tools): add delete datanode groups and monitor standalone pvc in cleanup-cluster script
  tools/greptimedbcluster/cleanup-cluster/README.md
  tools/greptimedbcluster/cleanup-cluster/cleanup-cluster.sh
Labels: size/M, tool

#304 ci: use go version 1.24.3 in dev-build workflow
  .github/workflows/dev-build.yaml
Labels: size/XS, ci

#311 fix: pg backend example link
  examples/cluster/postgresql-meta-backend/cluster.yaml
  examples/cluster/postgresql-meta-backend/postgresql-credentials.yaml
Labels: size/XS, example

#312 docs: fix the incorrect dedicated-wal example path
  examples/README.md
Labels: size/XS, example

#315 ci: use bitnami kafka in e2e test
  tests/e2e/setup/create-cluster.sh
  tests/e2e/setup/kafka-wal.yaml
  tests/e2e/testdata/resources/cluster/enable-remote-wal/cluster.yaml
Labels: size/M, e2e
